*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.signup{
    background: url('./Assests/signup-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.signin{
    background: url('./Assests/signin-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.popup-success{
    font-size: 16px;
    background-color: white;
    padding: 8px 15px;
    border-bottom: 3px solid green;
}

.popup-error{
    font-size: 16px;
    background-color: white;
    padding: 8px 20px;
    border-bottom: 3px solid red;
}