@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Playfair+Display:ital@0;1&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root{
    --open-sans: 'Open Sans', sans-serif;
    --playfair-display:'Playfair Display', serif;
    --black:#000000;
    --dark-blue: #13113A;
    --white: #FFFFFF;
    --grey: #706F87;
    --fs-14: 14px;
    --fs-12: 12px;
    --fs-20:20px;
    --fs-18:18px;
    --fs-13:13px;
}

.signup{
    background: url('./Assests/signup-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.signin{
    background: url('./Assests/signin-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.popup-success{
    font-size: 16px;
    background-color: white;
    padding: 8px 15px;
    border-bottom: 3px solid green;
}

.popup-error{
    font-size: 16px;
    background-color: white;
    padding: 8px 20px;
    border-bottom: 3px solid red;
}

header{
    width: 100%;
    background-color: aqua;
    height: 6rem;
    z-index: 999;

    > .logo{
        > img{
            width: 100px;
        }
    }

    > .links{
        > a{
            font-family: var(--playfair-display);
            font-style: italic;
            font-weight: 700;
            color: black;
        }
    }
}

.hero-section{
    /* width: 80%; */
    height: 600px;
    background-color: var(--dark-blue);
}

.blog-card{
    width: 350px;
    height: fit-content;
    background-color: #cec8f91e;

    > .image-section{
        > img{
            width: 350px;
            border-radius: 5px;
        }
    }

    > .description-section{
        padding: 40px 40px 20px 40px;

        > h6{
            font-size: var(--fs-18);
            font-family: var(--playfair-display);
            font-weight: 600;
            letter-spacing: 0.5px;
        }

        > .date{
            display: flex;
            margin-top: 20px;
            font-family: var(--open-sans);
            font-size: var(--fs-13);
            color: var(--grey);
            
            > p{
                /* margin-right: 30px; */
            }
        }

        > p{
            font-size: var(--fs-14);
            font-family: var(--open-sans);
            word-spacing: 0.3px;
            color: var(--grey);
        }
        
        > .links{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            font-family: var(--open-sans);
            
            > a{
                text-decoration: none;
                color: var(--black);
                font-weight: 600;
                letter-spacing: 1px;
                font-size: var(--fs-12);
            }

            > p{
                color: var(--grey);
                font-size: var(--fs-14);
            }
        }
    }
}