@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Playfair+Display:ital@0;1&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --open-sans: 'Open Sans', sans-serif;
    --playfair-display: 'Playfair Display', serif;
    --black: #000000;
    --dark-blue: #13113A;
    --white: #FFFFFF;
    --grey: #706F87;
    --fs-14: 14px;
    --fs-12: 12px;
    --fs-20: 20px;
    --fs-18: 18px;
    --fs-13: 13px;
}

.signup {
    background: url('./Assests/signup-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.signin {
    background: url('./Assests/signin-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.popup-success {
    font-size: 16px;
    background-color: white;
    padding: 8px 15px;
    border-bottom: 3px solid green;
}

.popup-error {
    font-size: 16px;
    background-color: white;
    padding: 8px 20px;
    border-bottom: 3px solid red;
}

header {
    position: fixed;
    width: 100%;
    background-color: inherit;
    height: 6rem;
    z-index: 999;
    padding: 0px 80px;
    transition: all 0.5s ease-in-out;
    top: 0;
    border-bottom: 1px solid var(--black);
    
    >.logo {
        >img {
            width: 100px;
        }
    }

    >.links {
        >a {
            font-family: var(--playfair-display);
            font-style: italic;
            font-weight: 700;
            color: var(--black);
            text-decoration: none;
        }
    }
}

.white-background{
    background: var(--white);
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border: none;

    >.links {
        >a {
            
            color: var(--black);
        }
    }
}

.hero-section {
    width: 100%;
    height: 600px;
    background:linear-gradient(rgba(0, 0, 0, 0.74), rgba(18, 18, 18, 0.5)), url('./Assests/pexels-andrei-tanase-1271619.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    > .hero-section-content{
        display: flex;
        width: 100vw;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;

        > h2{
            font-family: var(--playfair-display);
            font-weight: 600;
            font-size: 54px;
            color: var(--white);
            margin-bottom: 10px;
        }

        > p{
            font-size: var(--fs-18);
            margin-bottom: 0px;
            margin-top: 0px;
        }

        > form{
            margin-top: 20px;

            > input{
                height: 2.5rem;
                border-radius: 50px 0px 0px 50px;
                outline: none;
                border: none;
                padding: 8px 12px;
                font-size: var(--fs-18);
                color: var(--dark-blue);
                
            }

            > button{
                outline: none;
                border: none;
                height: 2.5rem;
                font-size:17px;
                padding: 0px 12px;
                background: var(--white);
                color: var(--dark-blue);
                border-radius: 0px 50px 50px 0px;
            }
        }
    }

}

.blog-card {
    width: 350px;
    height: fit-content;
    background-color: #cec8f91e;
    margin: 30px;

    >.image-section {
        >img {
            width: 349px;
            border-radius: 5px;
        }
    }

    >.description-section {
        padding: 40px 40px 20px 40px;

        >h6 {
            font-size: var(--fs-18);
            font-family: var(--playfair-display);
            font-weight: 600;
            letter-spacing: 0.5px;
            color: var(--dark-blue);
        }

        >.date {
            display: flex;
            margin-top: 20px;
            font-family: var(--open-sans);
            font-size: var(--fs-13);
            color: var(--grey);
        }

        >p {
            font-size: var(--fs-14);
            font-family: var(--open-sans);
            word-spacing: 0.3px;
            color: var(--grey);
        }

        >.links {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            font-family: var(--open-sans);

            >a {
                text-decoration: none;
                color: var(--black);
                font-weight: 600;
                letter-spacing: 1px;
                font-size: var(--fs-12);
                color: var(--dark-blue);
            }

            >p {
                color: var(--grey);
                font-size: var(--fs-14);
            }
        }
    }
}

.blog-card:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.blog-cards {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
}

.shine {
    position: relative;
    overflow: hidden;
}

.shine::before {
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
    content: "";
    display: block;
    height: 100%;
    left: -95%;
    position: absolute;
    top: 0;
    transform: skewX(-20deg);
    width: 50%;
    z-index: 2;
}

.shine:hover::before,
.shine:focus::before {
    -webkit-animation: shine 0.85s;
    animation: shine 0.85s;
}

@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}

@keyframes shine {
    100% {
        left: 125%;
    }
}


footer {
    background-color: var(--black);
    padding: 40px 60px 120px 60px;

    >.footer-content {
        display: flex;
        justify-content: space-between;
    }

    >p {
        margin-top: 60px;
        text-align: center;
        font-size: var(--fs-14);
        color: var(--grey);

        >span {
            color: var(--white);
        }
    }
}

.about-section-page{
    margin: 150px 80px 100px 80px;
}

.about-section-page img{
    width: 400px;
}

.about-section-page h3{
    font-family: var(--playfair-display);
    font-size: 32px;
    text-align: center;
    text-decoration: underline;
    color: var(--dark-blue);
    margin-bottom: 20px;
}

.about-section-page p{
    font-size: var(--fs-18);
    text-align: center;
    color: var(--dark-blue);
}


.single-blog {
    display: flex;
    justify-content: center;

    margin: 150px 200px 100px 200px;

    >.single-blog-content {

        >h2 {
            font-family: var(--open-sans);
            font-size: 42px;
            font-weight: 700;
        }

        >.author {
            display: flex;
            margin-top: 20px;
            align-items: center;

            >.image img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }

            >.details {
                margin-left: 10px;
                margin-top: 10px;

                >h5 {
                    margin-bottom: 0px;
                    font-size: var(--fs-18);
                    color: var(--dark-blue);
                }

                >p {
                    margin-top: 0px;
                    color: var(--grey);

                    >span {
                        color: var(--dark-blue);
                        font-weight: 500;
                    }
                }
            }
        }


        >.cover-image img {
            width: 100%;
            margin-top: 50px;
        }

        >.content p {
            margin-top: 50px;
            font-size: var(--fs-18);
            font-family: var(--playfair-display);
        }
    }
}

.writeblog{
    margin: 150px 200px 100px 200px;

    > form{
        display: flex;
        flex-direction: column; 
        gap: 10px;
        font-family: var(--playfair-display);
        position: relative;

        > input, textarea{
            border: none;
            outline: none;
        }

        > .category{
            height: 3rem;
            font-size: var(--fs-20);
        }

        > .title{
            height: 3rem;
            font-size: 26px;
        }

        > .content{
            font-size: 18px;
        }

        > button{
            width: fit-content;
            padding: 4px 10px;
            border-radius: 50px;
            background: var(--dark-blue);
            color: var(--white);
            border: none;
            outline: none;
        }
    }
}

footer h5 {
    font-size: var(--fs-18);
    color: var(--white);
    font-family: var(--playfair-display);
    font-weight: 600;
    letter-spacing: 1px;
}

footer p {
    color: var(--grey);
    font-size: var(--fs-14);
    font-family: var(--open-sans);
}

footer input {
    border: none;
    outline: none;
    background: #191919;
    /* height: 2rem; */
    padding: 8px 12px;
    width: 250px;
}

footer input:focus {
    background: var(--white);
    color: var(--black);
}

footer button {
    background: var(--white);
    padding: 8px 15px;
    border: none;
    outline: none;
}

footer .icons {
    display: flex;
    gap: 10px;
    color: var(--grey);
    font-size: var(--fs-18);
}