@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.App{
    min-height: 100vh;
    max-height: fit-content;
    background-size: cover;
    background: url('./Assests/marvel-sidebar-pattern-preview.png');
}